*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#display-info{
    display:flex;
}
.numberStyle{
    color: slateblue;
    border: 1px solid slateblue;
    padding: 2px;
    margin:5px;
    box-shadow:2px 2px 5px rgb(41, 7, 7);
}
.data{
    margin:10px;
}